@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

$dark: #0c3566;
$grey: #58708d;
$softGrey: #cedbe7;
$blue: #1d7cee;

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Inter", sans-serif !important;
	font-size: 16px;
}

a {
	color: inherit;
	text-decoration: none;
	color: $blue;
}

* {
	box-sizing: border-box;
}

.mw-1500 {
	max-width: 1500px;
	margin: 0 auto;
	width: 100%;
}

.wrapper {
	display: flex;
}

nav {
	a {
		color: $grey;
		font-weight: 600;
	}
	.wrapper {
		padding: 30px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.left {
			display: flex;
			align-items: center;
			.avatar {
				margin-right: 15px;
				img {
					width: 40px;
					height: 40px;
					border-radius: 100px;
				}
			}
		}
		.right {
			display: flex;
			flex-direction: row;
			margin: -5px;
			svg {
				stroke: $grey;
				margin: 5px;
			}
		}
		.nav-link {
			padding: 0;
		}
	}
}

header {
	padding-top: 50px;
	span {
		font-size: 2.5em;
		font-weight: bold;
		color: $dark;
	}
	.wrapper {
		flex-direction: column;
	}
	.header-title {
		font-size: 3.2em;
		margin-bottom: 10px;
		font-weight: 600;
		color: $dark;
	}
	.header-intro {
		margin-top: 30px;
	}
	.header-intro p {
		font-size: 1.2em;
		line-height: 1.6em;
		font-weight: 400;
		color: $grey;
		margin: 0;
	}
	.header-section {
		padding: 18px 0;
		display: flex;
		align-items: flex-start;
		margin-top: 30px;
		svg {
			background-color: #e8f1fd;
			border-radius: 100px;
			padding: 5px;
			margin-right: 10px;
		}
		.tech-stack {
			padding-right: 50px;
			border-right: 1px solid $softGrey;
			margin-right: 50px;
		}
		h2 {
			font-size: 1em;
			text-transform: uppercase;
			letter-spacing: 0.3em;
			font-weight: 600;
			margin-bottom: 20px;
			color: $dark;
		}
		ul {
			list-style: none;
			padding: 0;
			margin: -10px;
			display: flex;
			align-items: center;
		}
		li img {
			width: 30px;
			height: 30px;
			margin: 10px;
		}
	}
}
