@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

$dark: #0c3566;
$grey: #58708d;
$softGrey: #cedbe7;
$blue: #1d7cee;
$softBlue: #e8f1fd;

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Nunito", sans-serif !important;
	font-size: 16px;
}

a {
	color: inherit;
	text-decoration: none;
	color: $blue;
}

* {
	box-sizing: border-box;
}

h2 {
	font-size: 1.5em !important;
}

.mw-1500 {
	max-width: 1500px;
	margin: 0 auto;
	width: 100%;
}

.wrapper {
	display: flex;
}

.avatar-l {
	width: 120px;
	height: 120px;
}

.avatar-m {
	width: 80px;
	height: 80px;
}

.avatar-s {
	width: 40px;
	height: 40px;
}

.avatar img {
	border-radius: 100px;
}

.card {
	padding: 20px;
	border-radius: 8px !important;
	border-color: $softGrey !important;
}

button,
.btn,
.btn-primary.focus,
.btn-primary:focus {
	box-shadow: none !important;
}

nav {
	a {
		color: $grey;
		font-weight: 600;
	}
	.wrapper {
		padding: 20px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.left {
			display: flex;
			align-items: center;
			.card-block,
			button {
				display: flex;
				align-items: center;
				width: 100%;
				color: $dark;
				.card-left {
					margin-right: 15px;
					height: 40px;
					width: 40px;
					display: flex;
					align-items: center;
					justify-content: center;
				}
				.user-name {
					font-size: 1.4em;
					margin: 0;
					font-weight: bold;
				}
				.user-position {
					margin: 0;
					font-weight: 400;
				}
			}
		}
		.right {
			display: flex;
			flex-direction: row;
			margin: -8px;
			svg {
				stroke: $grey;
				margin: 8px;
				transition: ease-in-out 0.5s;
			}
			svg:hover {
				fill: $grey;
				stroke: white;
				transform: scale(1.5);
			}
		}
		.nav-link {
			padding: 0;
		}
	}
}

header {
	padding-top: 50px;
	.wrapper {
		.left.card.user {
			width: 20%;
			border: none !important;
			padding: 0;
			button {
				margin: 4px 0;
				background-color: #fff;
				border: none;
				border-radius: 100px;
				font-size: 1.1em;
				transition: 0.4s;
				font-weight: 700;
				padding: 10px 25px 10px 20px;
			}
			button.active {
				background-color: $softBlue !important;
				color: $blue !important;
				svg {
					stroke: $blue;
				}
			}
			button:hover,
			button.active:hover {
				background-color: $softBlue;
				color: $dark;
			}
			svg {
				stroke: $dark;
			}
			.card-block,
			button {
				display: flex;
				align-items: center;
				color: $dark;
				.card-left {
					margin-right: 15px;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}
		.right {
			width: 70%;
			.header-intro {
				margin-top: 30px;
				p {
					margin: 0;
					font-size: 1.3em;
					color: $grey;
				}
			}
			.work-in-progress {
				display: flex;
				flex-direction: column;
				align-items: center;
				.image-wrapper {
					margin-top: 30px;
					mask-image: url("../public/oval.svg");
					mask-repeat: no-repeat;
					width: 315px;
					img {
						width: 500px;
						position: relative;
						left: -65px;
						top: -30px;
					}
				}
			}
		}
	}
}

.card-wrapper {
	margin-bottom: 20px;
	.left {
		margin-right: 22px;
		img {
			height: 45px;
			width: 45px;
		}
	}
	.right {
		ul:first-child {
			margin: 0;
			padding: 0;
			list-style: none;
			.tasks {
				margin: 8px 0 0 0;
				padding: 0 0 0 20px;
				font-size: 0.9em;
				color: $grey;
			}
		}
	}
}

footer {
	position: fixed;
	left: 15px;
	bottom: 15px;
	.wrapper {
		flex-direction: column;
	}
	p {
		margin: 0;
		font-size: 0.8em;
		color: $grey;
	}
}

@media screen and (max-width: 768px) {
	nav {
		.card-block {
			.user-details {
				.user-name {
					font-size: 1.1em !important;
				}
				.user-position {
					font-size: 0.9em;
				}
			}
		}
		svg {
			width: 25px;
			height: 25px;
		}
	}
	header {
		padding-top: 10px;
		.wrapper {
			flex-direction: column-reverse;
			.left.card.user {
				width: 100%;
				position: fixed;
				z-index: 1000;
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				background-color: white;
				border-top: 1px solid $softGrey !important;
				border-radius: 0 !important;
				bottom: 0;
				button {
					margin: 8px 0;
					height: 50px;
					width: 50px;
					justify-content: center;
					padding: 10px 20px;
				}
				.card-left {
					margin-right: 0 !important;
				}
				.card-right {
					display: none;
				}
			}
			.right {
				width: 100%;
				padding: 0 20px 140px 20px;
				.header-title {
					font-size: 1.8em;
				}
				.header-intro p {
					font-size: 1.2em;
				}
			}
		}
	}
}
